*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black; 
    font-optical-sizing: auto;
    font-style: normal; 
    scroll-behavior: smooth;
}
#hbd{
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    z-index: 100;
}
#hbd>img{
    height: 25px;
    filter: drop-shadow(0px 5px 10px pink);
    animation: heart1 3s infinite linear;
}
@keyframes heart1 {
    25%{
        transform: rotate(10deg);
    } 
    75%{
        transform: rotate(-20deg);
    }
}
.baloons{
    left: -120px;
    position: fixed;
    top: 50px;
    height: 1000px;
}
.heartBaloons{
    top: 100vh;
    left: 50%;
    transform: translate(-50%);
    position: fixed;
    height: 1000px;
    z-index: 100;
    transition: 3s ease;
}
#main>h1{
    padding: 0 0 30px 0;
    text-align: center;
    font-size: 60px;
    color: white;
}
#content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#content #grp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/images/Alpha/line.svg);
    background-position: center;
    /* background-repeat: no-repeat; */
}
#content img{
    height: 600px;
}
#p1,
#us2,
#us3,
#us5{
    transform: rotate(10deg);
}
#us1,
#us4,
#p2,
#p3{
    transform: rotate(-10deg);
}
#p1{
    filter: drop-shadow(10px 10px 20px black);
}
#p2,
#p3{
    filter: drop-shadow(-10px 10px 20px black);
}
#p2{
    margin-top: 50px;
}
#us1,
#us2,
#us3,
#us4,
#us5{
    filter: grayscale(1);
}
#footer{
    padding: 10px 20px;
    z-index: 90;
    margin: 50px 0px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    filter: drop-shadow(10px 10px 20px black);
    font-size: 14px;
}
#footer h1,
#footer h3{
    text-align: center;
    color: red;
}
#last{
    padding: 10px 20px;
    z-index: 90;
    margin: 50px 0px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    filter: drop-shadow(10px 10px 20px black);
    font-size: 14px;
    text-align: center;
    display: none;
}
#last h1{
    color: red;
    text-align: center;
}
#last button{
    margin: 10px 0px;
    padding: 5px 10px;
    color: black;
    background-color: white;
    border-radius: 20px;
    animation: animate1 1s infinite;
}
@keyframes animate1 {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0.8);
    }
}
#customp{
    position: fixed;
    color: white;
    top: 0;
    height: 100%;
    width: 100%;
    background: url(images/Alpha/bg.svg);
    background-position: center;
    background-size: contain;
    z-index: 1000;
    display: none;
}
#customp #ringBox{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: scale(1);
    animation: smallTobig 1s linear; 
}
@keyframes smallTobig {
    from{
        transform: scale(0); 
    }
    to{
        transform: scale(1); 
    }
}
#prompt{
    z-index: 1000;
    position: absolute;
    left: 0;
    right: 0;
    top: -18%;
    bottom: 0;
    margin: auto;
    color: black;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    height: 150px;
    line-height: 50px;
}
#prompt #elem p{
    font-style: italic;
    font-size:32px;
    font-weight: 700;
}
#prompt button{
    margin: 10px;
    padding: 10px 15px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 700;
}
#quiz{
    font-size: 13px;
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: none;
}
#quiz input:checked{
    transform: scale(1.3);
}
#quiz button{
    width: 60px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 700;
}
@media (max-width: 600px) {
    html,
    body{
        overflow-x: hidden;
    }
    .heartBaloons{
        height: 650px;
        transition: 7s ease;
    }
    #main{
        width: 100%;
    }
    #main>h1{
        font-size: 28px;
    }
    #hbd>img{
        height: 30px;
    }
    #content{
        width: 100%;
    }
    #content img{
        height: 430px;
    } 
    #content #us1,
    #content #us2,
    #content #us3{
        height: 360px;
    }
    #content #us3{
        margin-top: 60px;
    }   
    #p3{
        scale: 1.1;
    }
    #customp{
        width: 100%;
        overflow: hidden;
    }
    #customp #ringBox{
        top: -70px;
    }
    #prompt{
        line-height: 10px;
    }
    #prompt #elem p{
        font-size: 28px;
    }
    #prompt button{
        font-size: 20px;
    }
}
